<!DOCTYPE html>
<html lang="en">

{% include  './partials/head.html'  %}

<body class="white-version">

    <!-- Start Header -->
    {% include  './partials/header.html'  %}
    <!-- End Header Area -->

    <!-- Start Popup Mobile Menu  -->
    {% include  './partials/popupMobilemenu.html'  %}

    <main class="main-page-wrapper">

        <!-- Start bread crumb area -->
        {% include  './partials/breadcrumb.html'  %}
        <!-- Start bread crumb area -->

        <!-- Start Testimonia Area  -->
        <div class="rn-testimonial-area rn-section-gap pb_xl--130 mb_dec--25" id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
                            <h2 class="title">Testimonial One</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" class="testimonial-activation testimonial-pb">
                            <!-- Start Single testiminail -->
                            <div class="testimonial mt--50 mt_lg--30">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="/static/images/testimonial/final-home--1st.png" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">Rainbow-Themes</span>
                                            <h3 class="title">Nevine Acotanza</h3>
                                            <span class="designation">Chief Operating Officer</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">Android App Development</h3>
                                                <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                            </div>
                                            <div class="rating">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">
                                            Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                            sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                            hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                            .
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testiminail -->
                            <!-- Start Single testiminail -->
                            <div class="testimonial mt--50 mt_lg--30">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="/static/images/testimonial/final-home--2nd.png" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">Bound - Trolola</span>
                                            <h3 class="title">Jone Duone Joe</h3>
                                            <span class="designation">Operating Officer</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">Web App Development</h3>
                                                <span class="date">Upwork - Mar 4, 2016 - Aug 30, 2021</span>
                                            </div>
                                            <div class="rating">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">
                                            Important fact to nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam
                                            sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                            hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                            .
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testiminail -->
                            <!-- Start Single testiminail -->
                            <div class="testimonial mt--50 mt_lg--30">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="/static/images/testimonial/final-home--3rd.png" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">Glassfisom</span>
                                            <h3 class="title">Nevine Dhawan</h3>
                                            <span class="designation">CEO Of Officer</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">Android App Design</h3>
                                                <span class="date">Fiver - Mar 4, 2015 - Aug 30, 2021</span>
                                            </div>
                                            <div class="rating">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">
                                            No more question for design. Ut tincidunt est ac dolor aliquam
                                            sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                            hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                            .
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testiminail -->

                            <!-- Start Single testiminail -->
                            <div class="testimonial mt--50 mt_lg--30">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="/static/images/testimonial/final-home--4th.png" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">NCD - Design</span>
                                            <h3 class="title">Mevine Thoda</h3>
                                            <span class="designation">Marketing Officer</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">CEO - Marketing</h3>
                                                <span class="date">Thoda Department - Mar 4, 2018 - Aug 30, 2021</span>
                                            </div>
                                            <div class="rating">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">
                                            Marcent Of Vanice and treatment. Ut tincidunt est ac dolor aliquam
                                            sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                            hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                            .
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testiminail -->

                            <!-- Start Single testiminail -->
                            <div class="testimonial mt--50 mt_lg--30">
                                <div class="inner">
                                    <div class="card-info">
                                        <div class="card-thumbnail">
                                            <img src="/static/images/testimonial/final-home--5th.png" alt="Testimonial-image">
                                        </div>
                                        <div class="card-content">
                                            <span class="subtitle mt--10">Default name</span>
                                            <h3 class="title">Davei Luace</h3>
                                            <span class="designation">Chief Operating Manager</span>
                                        </div>
                                    </div>
                                    <div class="card-description">
                                        <div class="title-area">
                                            <div class="title-info">
                                                <h3 class="title">Android App Development</h3>
                                                <span class="date">via Upwork - Mar 4, 2015 - Aug 30, 2021</span>
                                            </div>
                                            <div class="rating">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                                <img src="/static/images/icons/rating.png" alt="rating-image">
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <p class="discription">
                                            When managment is so important. Ut tincidunt est ac dolor aliquam
                                            sodales. Phasellus sed mauris hendrerit, laoreet sem in, lobortis mauris
                                            hendrerit ante. Ut tincidunt est ac dolor aliquam sodales phasellus smauris
                                            .
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single testiminail -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonia Area  -->

        <!-- Start Testimonia Area  -->
        <div class="rn-testimonial-area testimonial-style-2 rn-section-gapTop pb--80 pb_md--50 section-separator" id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
                            <h2 class="title">Testimonial Two</h2>
                        </div>
                    </div>
                </div>


                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" class="testimonial-activation-item-3 slick-arrow-style-one row">

                    <!-- Start single Testimonial -->
                    <div class="rn-testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-header">
                                <div class="thumbnail">
                                    <img src="/static/images/client/testimonial-2.jpg" alt="client-image">
                                </div>
                                <h5 class="ts-header">
                                    <span class="text-color-primary">@alamin</span> Engineer
                                </h5>
                            </div>
                            <div class="testimonial-body">
                                <p class="discription">@jack_danials thank you as well for your template
                                    from
                                    <span>@Alamin_Orko </span>! The team is using it too. It'll really
                                    speed up the design and
                                    development process 🏃💨.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End single Testimonial -->

                    <!-- Start single Testimonial -->
                    <div class="rn-testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-header">
                                <div class="thumbnail">
                                    <img src="/static/images/client/testimonial-2.jpg" alt="client-image">
                                </div>
                                <h5 class="ts-header">
                                    <span class="text-color-primary">@alamin</span> Engineer
                                </h5>
                            </div>
                            <div class="testimonial-body">
                                <p class="discription">@jack_danials thank you as well for your template
                                    from
                                    <span>@Alamin_Orko </span>! The team is using it too. It'll really
                                    speed up the design and
                                    development process 🏃💨.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End single Testimonial -->

                    <!-- Start single Testimonial -->
                    <div class="rn-testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-header">
                                <div class="thumbnail">
                                    <img src="/static/images/client/testimonial-2.jpg" alt="client-image">
                                </div>
                                <h5 class="ts-header">
                                    <span class="text-color-primary">@alamin</span> Engineer
                                </h5>
                            </div>
                            <div class="testimonial-body">
                                <p class="discription">@jack_danials thank you as well for your template
                                    from
                                    <span>@Alamin_Orko </span>! The team is using it too. It'll really
                                    speed up the design and
                                    development process 🏃💨.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End single Testimonial -->

                    <!-- Start single Testimonial -->
                    <div class="rn-testimonial">
                        <div class="testimonial-inner">
                            <div class="testimonial-header">
                                <div class="thumbnail">
                                    <img src="/static/images/client/testimonial-2.jpg" alt="client-image">
                                </div>
                                <h5 class="ts-header">
                                    <span class="text-color-primary">@alamin</span> Engineer
                                </h5>
                            </div>
                            <div class="testimonial-body">
                                <p class="discription">@jack_danials thank you as well for your template
                                    from
                                    <span>@Alamin_Orko </span>! The team is using it too. It'll really
                                    speed up the design and
                                    development process 🏃💨.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End single Testimonial -->
                </div>

            </div>
        </div>
        <!-- End Testimonia Area  -->

        <!-- Back to  top Start -->
        {% include  './partials/backToTop.html'  %}
        <!-- Back to top end -->

        <!-- Rn footer area Start -->
        {% include  './partials/footer.html'  %}
        <!-- Rn footer area end -->

    </main>

    <!-- script Start -->
    {% include  './partials/script.html'  %}
    <!-- script end -->
</body>

</html>