<!DOCTYPE html>
<html lang="en">

{% include  './partials/head.html'  %}

<body class="template-color-1 white-version">

    <!-- Start Header -->
    {% include  './partials/header.html'  %}
    <!-- End Header Area -->

    <!-- Start Popup Mobile Menu  -->
    {% include  './partials/popupMobilemenu.html'  %}

    <main class="main-page-wrapper">

        <!-- Start bread crumb area -->
        {% include  './partials/breadcrumb.html'  %}
        <!-- Start bread crumb area -->

        <!-- Vedop Popup area -->
        <div class="rn-video-popup-area rn-section-gap bg_color--1 line-separator">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-11.jpg" alt="About Images">
                            <a id="play-video" class="video-play-button" href="#">
                                <span></span>
                            </a>
                            <div id="video-overlay" class="video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vedop Popup area End -->

        <div class="rn-video-popup-area rn-section-gapBottom bg_color--1 line-separator">
            <div class="container">
                <div class="row">
                    <!-- Start Single Video Button  -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-06.jpg" alt="About Images">
                            <a class="play-video video-play-button" href="#">
                                <span></span>
                            </a>
                            <div class="video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-6 col-md-6 col-12 mt_sm--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-05.jpg" alt="About Images">

                            <a class="video-play-button play-video" href="#">
                                <span></span>
                            </a>
                            <div class="video-overlay video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                </div>
            </div>
        </div>

        <div class="rn-video-popup-area rn-section-gapBottom bg_color--1">
            <div class="container">
                <div class="row">
                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-09.jpg" alt="About Images">
                            <a class="video-play-button play-video" href="#">
                                <span></span>
                            </a>
                            <div class="video-overlay video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-08.jpg" alt="About Images">
                            <a class="video-play-button play-video" href="#">
                                <span></span>
                            </a>
                            <div class="video-overlay video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                    <!-- Start Single Video Button  -->
                    <div class="col-lg-4 col-md-6 col-12 mt_sm--30 mt_md--30">
                        <div class="thumbnail position-relative">
                            <img class="w-100" src="/static/images/portfolio/portfolio-07.jpg" alt="About Images">
                            <a class="video-play-button play-video" href="#">
                                <span></span>
                            </a>
                            <div class="video-overlay video-overlay">
                                <a class="video-overlay-close">×</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Video Button  -->

                </div>
            </div>
        </div>

        <!-- Back to  top Start -->
        {% include  './partials/backToTop.html'  %}
        <!-- Back to top end -->

        <!-- Rn footer area Start -->
        {% include  './partials/footer.html'  %}
        <!-- Rn footer area end -->

        <!-- Start Right Demo  -->
        {% include  './partials/rightDemo.html'  %}
        <!-- End Right Demo  -->

        <!-- Start Modal Area  -->
        {% include  './partials/modal.html'  %}
        <!-- End Modal Area  -->

    </main>

    <!-- script Start -->
    {% include  './partials/script.html'  %}
    <!-- script end -->
    
</body>

</html>